USE [master]
GO
/****** Objeto: Database [portal] Fecha de script: 26/5/2026 10:43:48 a. m. ******/
CREATE DATABASE [portal]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'portal', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.PASANTE\MSSQL\DATA\portal.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'portal_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.PASANTE\MSSQL\DATA\portal_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [portal].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [portal]
GO
/****** Objeto: Table [dbo].[clientes] Fecha de script: 26/5/2026 10:43:48 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clientes](
	[id_usuario] [int] IDENTITY(20,1) NOT NULL,
	[nombre] [varchar](30) NULL,
	[apellido] [varchar](30) NULL,
	[telefono] [varchar](25) NULL,
	[email] [varchar](50) NULL,
	[direccion] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[fecha_registro] Fecha de script: 26/5/2026 10:43:48 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fecha_registro](
	[id_registro] [int] IDENTITY(20,1) NOT NULL,
	[id_usuario_fr] [int] NULL,
	[fecha_registro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_registro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[fecha_registro] ADD  DEFAULT (getdate()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[fecha_registro]  WITH CHECK ADD FOREIGN KEY([id_usuario_fr])
REFERENCES [dbo].[clientes] ([id_usuario])
ON DELETE CASCADE
GO
USE [master]
GO
